# Database - Neon/Vercel Postgres
DATABASE_URL=postgresql://neondb_owner:npg_nPkZXqENy2I9@ep-dawn-math-aidqyj66-pooler.c-4.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require

# JWT Secret - generate a random string
JWT_SECRET=kelas9a_smpn1_jwt_2025_aman

# Next.js
NEXTAUTH_URL=http://localhost:3000
